.breadcrumb {
    margin: 0.5em;
}

img {
    object-fit: contain;
}

small {
    font-size: smaller;
    margin-top: 0;
}

.card-body {
    line-height: 80%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


#searchText { width: 100%; } 
